<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
    	<small>Copyright &copy; My Website <%= link_to "admin", "https://its-alpha-blog.herokuapp.com/", class: "text-white" %> </small>
    </div>
</footer>